/* .progress {
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;

  display: flex;
  height: 15px;
  width: 100%;
  background-color: lightgray;
  padding: 0;
  margin: 0;
}
.progress-value {
  box-shadow: 0 10px 40px -10px #000;
  border-radius: 100px;
  height: 10px;
  width: 100%;
  padding: 0 5px;
  background-color: #f6a328;
} */
.progressbar {
  width: 100%;
  /* margin-top: 40px; */
}
.progress-container {
  height: 20px;
  border-radius: 4px;
  margin: 10px auto 0 auto;
}
.progress-inner {
  width: 50%;
  height: 100%;
  margin: 0;
  /* border-radius: inherit; */
}
.progress-text {
  font-size: 16px;
}
@media (max-width: 768px) {
  .progress-container {
    height: 20px;
  }
}
@media (max-width: 600px) {
  .progress-text {
    font-size: 10px;
  }
}
